<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'posts/post_list', 
    'pictures/thumb_grid', 
    'browse/browse', 
    :cache => 'cache/browse_all'  %>
<% end %>

<% @title = 'Browse' %>
<% @description = 'Browse travel blogs and pictures posted by real travellers from all over the world.' %>

<% content_for(:left_col) do %>
  <h1>browse</h1>

  <%
  browse_links = ''
  @continents.each do |c|
    browse_links += link_to(c.name.gsub(/\s/, '&#160;'), 
      browse_continent_url(:continent_code => c.code, 
        :continent_name => c.name.gsub(/\s/, '-')), :class => 'browse-link') + ' '
  end
%>
  <div id="browse-links"><%= browse_links %></div>

  <h2>latest posts</h2>
  <%= render :partial => "posts/post_summary", :collection => @posts %>
  <% if @posts.empty? %>
    <p>No one has posted yet!</p>
  <% end %>
  <%= paginate_links @posts %>
<% end %>

<% if !@pictures.empty? %>
  <% content_for(:right_col) do %>
    <%= render :partial => 'pictures/thumb_grid', :object => @pictures, :locals => { :row_size => 1 } %>
  <% end %>
<% end %>
